@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Jost", sans-serif;
}

nav{
    z-index: 10001 !important;
}

.gradientBg{
    background: linear-gradient(99deg, #EE9AE5 0%, #5961f9 100%);
}

.btnPrimary{
    @apply px-3 py-2 bg-secondary font-semibold text-white hover:bg-primary rounded-lg transition-all duration-300
}